*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Lato', sans-serif;
}
.center{
    width: 1170px;
    margin: 0 auto;
}

/* Header */

header{
    background: url(../img/bg_header.png) no-repeat;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-position: center top;
    background-size: 100%;
    min-height: 446px;
}
header h1{
    color: #ffffff;
}
header nav{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;
}
header nav .topnav {
    overflow: hidden;
}
header nav .topnav .menu{
    float: right;
}
header nav .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
header nav .topnav a:hover {
    color: black;
}
header nav .topnav .barra{
    border-top: 3px solid #ffffff;
    width: 30px;
    margin-bottom: 4px;
    display: block;
}
header nav .topnav .icon {
    display: none;
}
header .header_box{
    display: flex;
    margin-top: 15px;
    float: left;
    width: 100%;
}
header .header_box .header_text{
    display: block;
    margin: 0 auto;
}
header .header_box .header_text h2{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
header .header_box .header_text span{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    display: block;
    text-align: center;
    color: #FFF;
}
header .header_box .header_text a{
    font-family: 'Lato', sans-serif;
    color: #f95157;
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 28px;
    text-decoration: none;
    font-size: 15px;
    width: 110px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    text-align: center;
}
header .header_box .header_text a:hover{
    background-color: #c2c2c2;
}

/* Section */

section .banner{
    width: 100%;
    margin: 15px 0;
}
section .banner .trs {
    -webkit-transition:all ease-out 0.5s;
    -moz-transition:all ease-out 0.5s;
    -o-transition:all ease-out 0.5s;
    -ms-transition:all ease-out 0.5s;
    transition:all ease-out 0.5s;
}
section .banner #slider {
    position: relative;
    z-index: 1;
}
section .banner #slider img {
    width: 100%;
}
section .banner #slider a {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter:alpha(opacity=0);
}
section .banner .ativo {
    opacity: 1!important;
    filter:alpha(opacity=100)!important;
}
section .banner span {
    background: #f95157;
    cursor: pointer;
    opacity: 0;
    filter:alpha(opacity=0);
    position: absolute;
    bottom: 40%;
    width: 43px;
    height: 43px;
    z-index: 5;
}
section .banner .next {
    right: 10px;
}
section .banner .next:before,.next:after {
    left: 21px;
}
section .banner .next:before {
    -webkit-transform: rotate(-42deg);
    top: 5px;
}
section .banner .next:after {
    -webkit-transform: rotate(-132deg);
    top: 19px;
}
section .banner .next:before,
section .banner .next:after,
section .banner .prev:before,
section .banner .prev:after {
    content: "";
    height: 20px;
    background: #fff;
    width: 1px;
    position: absolute;
}
section .banner .prev {
    left: 10px;
}
section .banner .prev:before,
section .banner .prev:after {
    left: 18px;
}
section .banner .prev:before {
    -webkit-transform: rotate(42deg);
    top: 5px;
}
section .banner .prev:after {
    -webkit-transform: rotate(132deg);
    top: 19px;
}
section .banner figure:hover span {
    opacity: 0.76;
    filter:alpha(opacity=76);
}
section .banner figure {
    height: 412px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
section .conteudo{
    display: flex;
    margin-top: 70px;
}
section .texto{
    margin-top: 70px;
}
section .texto img{
    width: 410px;
    box-shadow: 10px 16px 4px 6px #f95157;
}
section .texto .box_texto {
    margin-right: 24px;
    margin-top: 50px;
    float: left;
    width: 320px;
}
section .texto .box_texto strong{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #1b2f4d;
    font-size: 50px;
}
section .texto .box_texto strong span{
    color: #f95157;
}
section .conteudo .contato{
    width: 50%;
    flex: 1;
}
section .conteudo .contato h3{
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    color: #f95157;
}
section .conteudo .contato form{
    width: 320px;
    margin: 0 auto;
    padding: 20px;
}
section .conteudo .contato form ul{
    
}
section .conteudo .contato form ul li{
    margin-bottom: 10px;
    width: 100%;
}
section .conteudo .contato form ul li label{
    display: block;
    color: #1b2f4d;
    margin-bottom: 5px;
}
section .conteudo .contato form ul li input{
    background-color: #dedbdb;
    width: 95%;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
section .conteudo .contato form ul li select{
    background-color: #dedbdb;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
section .conteudo .contato form ul li textarea{
    background-color: #dedbdb;
    width: 95%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    resize: none
}
section .conteudo .contato form ul li .btn{
    font-size: 18px;
    background-color: #f95157;
    cursor: pointer;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}
section .conteudo .contato form ul li .btn:hover{
    background-color: #ad3034;
}

/* Footer */

footer{
    background-image: url(../img/bg_footer.png);
    margin-top: 20px;
    padding: 70px 0;
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
}
footer p{
    color: #ffffff;
    text-align: center;
}

/*---------- MEDIA ----------*/

@media screen and (max-width: 600px) {
    .topnav .menu {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        position: absolute;
        right: 0px;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 10px;
    }
    .topnav.responsive .menu {
        float: none;
        display: block;
        text-align: left;
        float: left;
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        background-color: #fff;
    }
}

@media(max-width: 1024px) {
    .center {
        width: 100% !important;
    }
    header {
        background: url(../img/bg_header_mobile.png) no-repeat;
        padding: 0 20px;
        background-position: center bottom;
        background-size: 100%;
        min-height: 253px;
    }
    header nav{
        margin-top: 10px;
    }
    header nav .topnav a {
        padding: 5px 16px;
        color: #ffffff;
    }
    header .header_box .header_text h2 {
        font-size: 30px;
    }
    header .header_box .header_text span {
        font-size: 12px;
    }
    header .header_box .header_text a {
        padding: 6px 20px;
        font-size: 12px;
        margin-top: 15px;
    }
        section .texto {
        margin-top: 0;
    }
    section .texto .box_texto {
        width: 175px;
    }
    section .texto .box_texto strong {
        display: block;
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }
    section .banner figure {
        height: 362px;
    }
    section .conteudo .contato {
        width: 100%;
        margin-top: 35px;
    }
    footer {
        padding: 45px 0 40px 0;
    }
    footer p{
        font-size: 12px;
    }
}

@media(max-width: 768px) {
    .center {
        width: 100% !important;
    }
    header {
        background: url(../img/bg_header_mobile.png) no-repeat;
        padding: 0 20px;
        background-position: center bottom;
        background-size: 100%;
        min-height: 253px;
    }
    header nav{
        margin-top: 10px;
    }
    header nav .topnav a {
        padding: 5px 16px;
        color: #ffffff;
    }
    header .header_box .header_text h2 {
        font-size: 30px;
    }
    header .header_box .header_text span {
        font-size: 12px;
    }
    header .header_box .header_text a {
        padding: 6px 20px;
        font-size: 12px;
        margin-top: 15px;
    }
    section .conteudo {
        display: contents !important;
    }
    section .texto {
        margin-top: 0;
    }
    section .texto img {
        width: 100% !important;
        box-shadow: 0px 8px 6px 4px #f95157;
    }
    section .texto .box_texto {
        width: 100% !important;
    }
    section .texto .box_texto {
        margin-right: 24px;
        margin-top: 0;
    }
    section .texto .box_texto strong {
        display: block;
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }
    section .banner figure {
        height: 270px;
    }
    section .conteudo .contato {
        width: 100%;
        margin-top: 35px;
    }
    footer {
        padding: 45px 0 40px 0;
    }
    footer p{
        font-size: 12px;
    }
}

@media(max-width: 414px) {
    .center {
        width: 100% !important;
    }
    header {
        background: url(../img/bg_header_mobile.png) no-repeat;
        padding: 0 20px;
        background-position: center bottom;
        background-size: 100%;
        min-height: 253px;
    }
    header nav{
        margin-top: 10px;
    }
    header nav .topnav a {
        padding: 5px 16px;
        color: #f95157;
    }
    header .header_box .header_text h2 {
        font-size: 30px;
    }
    header .header_box .header_text span {
        font-size: 12px;
    }
    header .header_box .header_text a {
        padding: 6px 20px;
        font-size: 12px;
        margin-top: 15px;
    }
    section .conteudo {
        display: contents !important;
    }
    section .texto {
        margin-top: 0;
    }
    section .texto img {
        width: 100% !important;
        box-shadow: 0px 8px 6px 4px #f95157;
    }
    section .texto .box_texto {
        width: 100% !important;
    }
    section .texto .box_texto {
        margin-right: 24px;
        margin-top: 0;
    }
    section .texto .box_texto strong {
        display: block;
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }
    section .banner figure {
        height: 127px;
    }
    section .conteudo .contato {
        width: 100%;
        margin-top: 35px;
    }
    footer {
        padding: 25px 0 8px 0;
    }
    footer p{
        font-size: 12px;
    }
}

@media(max-width: 375px) {
    .center {
        width: 100% !important;
    }
    header {
        background: url(../img/bg_header_mobile.png) no-repeat;
        padding: 0 20px;
        background-position: center bottom;
        background-size: 100%;
        min-height: 253px;
    }
    header nav{
        margin-top: 10px;
    }
    header nav .topnav a {
        padding: 5px 16px;
        color: #f95157;
    }
    header .header_box .header_text h2 {
        font-size: 30px;
    }
    header .header_box .header_text span {
        font-size: 12px;
    }
    header .header_box .header_text a {
        padding: 6px 20px;
        font-size: 12px;
        margin-top: 15px;
    }
    section .conteudo {
        display: contents !important;
    }
    section .texto {
        margin-top: 0;
    }
    section .texto img {
        width: 100% !important;
        box-shadow: 0px 8px 6px 4px #f95157;
    }
    section .texto .box_texto {
        width: 100% !important;
    }
    section .texto .box_texto {
        margin-right: 24px;
        margin-top: 0;
    }
    section .texto .box_texto strong {
        display: block;
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }
    section .banner figure {
        height: 127px;
    }
    section .conteudo .contato {
        width: 100%;
        margin-top: 35px;
    }
    footer {
        padding: 25px 0 8px 0;
    }
    footer p{
        font-size: 12px;
    }
}

@media(max-width: 360px) {
    .center {
        width: 100% !important;
    }
    header {
        background: url(../img/bg_header_mobile.png) no-repeat;
        padding: 0 20px;
        background-position: center bottom;
        background-size: 100%;
        min-height: 253px;
    }
    header nav{
        margin-top: 10px;
    }
    header nav .topnav a {
        padding: 5px 16px;
        color: #f95157;
    }
    header .header_box .header_text h2 {
        font-size: 30px;
    }
    header .header_box .header_text span {
        font-size: 12px;
    }
    header .header_box .header_text a {
        padding: 6px 20px;
        font-size: 12px;
        margin-top: 15px;
    }
    section .conteudo {
        display: contents !important;
    }
    section .texto {
        margin-top: 0;
    }
    section .texto img {
        width: 100% !important;
        box-shadow: 0px 8px 6px 4px #f95157;
    }
    section .texto .box_texto {
        width: 100% !important;
    }
    section .texto .box_texto {
        margin-right: 24px;
        margin-top: 0;
    }
    section .texto .box_texto strong {
        display: block;
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }
    section .banner figure {
        height: 127px;
    }
    section .conteudo .contato {
        width: 100%;
        margin-top: 35px;
    }
    footer {
        padding: 25px 0 8px 0;
    }
    footer p{
        font-size: 12px;
    }
}

@media(max-width: 320px) {
    .center {
        width: 100% !important;
    }
    header {
        background: url(../img/bg_header_mobile.png) no-repeat;
        padding: 0 20px;
        background-position: center bottom;
        background-size: 100%;
        min-height: 225px;
    }
    header nav{
        margin-top: 10px;
    }
    header nav .topnav a {
        padding: 5px 16px;
        color: #f95157;
    }
    header .header_box {
        margin-top: 0px;
    }
    header .header_box .header_text h2 {
        font-size: 30px;
    }
    header .header_box .header_text span {
        font-size: 12px;
    }
    header .header_box .header_text a {
        padding: 6px 20px;
        font-size: 12px;
        margin-top: 15px;
    }
    section .conteudo {
        display: contents !important;
    }
    section .texto {
        margin-top: 0;
    }
    section .texto img {
        width: 100% !important;
        box-shadow: 0px 8px 6px 4px #f95157;
    }
    section .texto .box_texto {
        width: 100% !important;
    }
    section .texto .box_texto {
        margin-right: 24px;
        margin-top: 0;
    }
    section .texto .box_texto strong {
        display: block;
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }
    section .banner figure {
        height: 127px;
    }
    section .conteudo .contato {
        width: 100%;
        margin-top: 35px;
    }
    section .conteudo .contato form {
        width: 300px;
        padding: 10px;
    }
    footer {
        padding: 25px 0 8px 0;
    }
    footer p{
        font-size: 12px;
    }
}